<%= form_for @subsidiary do |f| %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.label :cnpj, 'CNPJ' %>
  <%= f.text_field :cnpj %>
  <%= f.label :address, 'Endereço' %>
  <%= f.text_field :address %>
  <%= f.submit 'Enviar' %>
<% end %>

<%= link_to 'Voltar', subsidiaries_path %>