<h1>Rental Cars</h1>
<p>Bem vindo ao sistema de gestão de locação</p>

<h2><%= link_to 'Categorias de carros', car_categories_path %></h2>
<h2><%= link_to 'Clientes', customers_path %></h2>
<h2><%= link_to 'Fabricantes', manufacturers_path %></h2>
<h2><%= link_to 'Filiais', subsidiaries_path %></h2>
<h2><%= link_to 'Modelos de carros', car_models_path %></h2>
<h2><%= link_to 'Locações', rentals_path %></h2>