<% if @carcategories[0] == nil %>
  <h2>Nenhuma categoria cadastrada</h2>
<% end %>

<%= link_to 'Cadastrar categoria', new_car_category_path %>

<% @carcategories.each do |category| %>
  <%= category.name %>
  <%= category.daily_rate %>
  <%= category.car_insurance %>
  <%= category.third_party_insurance %>
<% end %>

<%= link_to 'Voltar', root_path %>