<section>
  <header>
    <h1>Categoria <%= @carcategory.name %></h1>
  </header>
  <dl>
    <dt>Diaria</dt>
    <dd><%= number_to_currency(@carcategory.daily_rate) %></dd>
    <dt>Seguro do carro</dt>
    <dd><%= number_to_currency(@carcategory.car_insurance) %></dd>
    <dt>Seguro de terceiros</dt>
    <dd><%= number_to_currency(@carcategory.third_party_insurance) %></dd>
  </dl>

  <h3>Modelos de carro</h3>
  <% @carcategory.car_models.each do |car_model| %>
    <li>
      <%= link_to car_model.name, car_model %>
    </li>
  <% end %>
</section>

<%= link_to 'Voltar', car_categories_path %>
