<div>
  <h1><%= "Categoria #{@carcategory.name}" %></h1>
  <dl>
    <dt>Diaria</dt>
    <dd><%= number_to_currency(@carcategory.daily_rate) %></dd>
    <dt>Seguro do carro</dt>
    <dd><%= number_to_currency(@carcategory.car_insurance) %></dd>
    <dt>Seguro de terceiros</dt>
    <dd><%= number_to_currency(@carcategory.third_party_insurance) %></dd>
  </dl>
</div>

<%= link_to 'Voltar', car_categories_path %>