<h1>Locações</h1>

<%= link_to 'Cadastrar locação', new_rental_path %>

<%= form_with url: search_rentals_path, method: "get", local: true do |f| %>
  <%= f.label :q, 'Código' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Data de início</th>
      <th>Data de término</th>
      <th>Cliente</th>
      <th>Categoria</th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr id="rental-<%= rental.id %>">
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td><%= rental.customer.name %></td>
        <td><%= rental.car_category.name %></td>
        <th><%= link_to 'Ver detalhes', rental %></th>
      </tr>
    <% end %>
  </tbody>
</table>