<h1>Detalhe da locação</h1>

<dl>
  <dd>Código: </dd>
  <dt><%= @rental.code %></dt>
  <dd>Data de início: </dd>
  <dt><%= l @rental.start_date %></dt>
  <dd>Data de término: </dd>
  <dt><%= l @rental.end_date %></dt>
  <dd>Cliente: </dd>
  <dt><%= @rental.customer.name %></dt>
  <dd>Categoria: </dd>
  <dt><%= @rental.car_category.name %></dt>
  <%= link_to 'Iniciar', new_rental_car_rental_path(@rental) %>
</dl>

<% if @rental.car_rental.present? %>
  <h1>Iniciado</h1>
  <dl>
    <dd>Data de inicio: </dd>
    <dt><%= I18n.l Time.now, format: :long %></dt>
    <dd>Placa do carro: </dd>
    <dt><%= @rental.car_rental.car.license_plate %></dt>
    <dd>Locação iniciada por: </dd>
    <dt><%= @rental.car_rental.user.email %></dt>
    <dd>Status: </dd>
    <dt><%= Rental.human_attribute_name("status.#{@rental.status}") %></dt>
  </dl>
<% end %>