<% if @errors.present? %>
  <% @errors.each do |error| %>
    <p><%= error[0] %></p>
  <% end %>
<% end %>

<%= form_with(model: @manufacturer, local: true) do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.submit 'Enviar' %>
<% end %>